language: node_js
sudo: false
node_js: [ 4, 5, 6, 7 ]
after_success: 'yarn run coveralls'
cache:
    yarn: true
script:
    - lerna bootstrap --ignore={demos}
    - yarn test
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
