.avatar {
    @define-container;

    font-size: 2ch;
}

.avatar__image {
    background: #fff;
    width: 2cw;
    height: 2ch;
}

.avatar__username {
    display: none;
}

@container (width > 100px) and (height > 100px) {
    .avatar__image {
        background: #000;
        width: 4cw;
        height: 4ch;
    }
}

@container (width > 100px) {
    .avatar__username {
        display: block;
    }
}
