.container {
    position: absolute;
    width: 33%;
    height: 50%;
    background: #ccc;
    border: 1px solid;
    box-sizing: border-box;
    overflow: hidden;
}

.container--1 {
    left: 0;
    top: 0;
}

.container--2 {
    right: 0;
    top: 0;
}

.container--3 {
    left: 0;
    top: 50%;
}

.container--4 {
    right: 0;
    top: 50%;
}

.container--5 {
    height: 33%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container--6 {
    height: 33%;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
}

.container--7 {
    height: 33%;
    top: 66%;
    left: 50%;
    transform: translateX(-50%);
}

.container__title {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 10px;
}

.avatar {
    @define-container;

    font-size: 2ch;
}

.avatar__image {
    background: #fff;
    width: 2cw;
    height: 2ch;
}

.avatar__username {
    display: none;
}

@container (width > 100px) and (height > 100px) {
    .avatar__image {
        background: #000;
        width: 4cw;
        height: 4ch;
    }
}

@container (width > 100px) {
    .avatar__username {
        display: block;
    }
}
