.ContainerType1 {
  @define-container;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 0, 0);

  @container (width > 100px) {
    background-color: rgb(0, 255, 0);
  }
}

.ContainerType2 {
  @define-container;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 0, 0);

  @container (height > 30px) {
    background-color: rgb(0, 255, 0);
  }
}
