.cell {
    position: fixed;

    &--left,
    &--right1,
    &--right2,
    &--right3,
    &--right4 {
         width: 50%;
     }

    &--right1,
    &--right2,
    &--right3,
    &--right4 {
         right: 0;
         height: 25%;
     }

    &--left {
         left: 0;
         top: 0;
         height: 100%;
     }

    &--right1 {
         top: 0;
     }
    &--right2 {
         top: 25%;
     }
    &--right3 {
         bottom: 25%;
     }
    &--right4 {
         bottom: 0;
     }

     @container {
         font-size: 12px;
     }
}
