.user {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    border: 1px solid #ccc;
    background: rgb(245,245,245);
    border-radius: 5px;
    padding: 20px;

    @define-container;
}

.user__image {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.user__name {
    display: none;
}

.user__list {
    display: none;
}

@container (orientation: landscape) {
    .user {
        background: red;
        font-size: 2px;
        line-height: 100ch;
        border-width: 2cw;
    }

    .user__image {
        font-size: 2px;
        border-width: 2cw;
    }
}

@container (orientation: portrait) {
    .user {
        border: none;
    }

    .user__image {
        line-height: 2px;
        width: 2cw;
    }
}

@container (width >= 100) {
    .user {
        line-height: 50ch;
    }
}
